.login-page{
    background-image: url('../images/background_desa.jpg');
    width: 100vw;
    height: 100vh;
    padding: 15vh 0 15vh 0;
}
.login-form{
    width: 30vw;
    height: 75vh;
    background-color: rgba(212, 244, 169, 0.78);
    border-radius: 10px;
}
.login-icon{
    width: 35%;
    height: 35%;
    margin: 3vh 0 5vh 0;
}
.login-input{
    border-radius: 20px;
    width: 80%;
    padding: 5px;
    opacity: 1;
    margin-bottom: 1vh;
}
.login-form-label{
    font-size: 25px;
    font-family: 'Avenir Next LT Pro Bold';
    color: #fff;
    margin: 0 0 3vh 0 !important;
}